body {
  background-color: #7ec8ff;
}
.App {
  text-align: center;
  margin-top: 10rem;
}
.picker {
}

.timerBox {
  width: 6rem;
  height: 5rem;
  margin: 1rem;
  background-color: #be1866;
  font-size: 25px;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid #fff;
}

.picker,
button {
  background-color: #ce84f0;
  color: #fff;
  border-radius: 10px;
  width: auto;
  padding: 0.5rem;
  border: 1px solid #fff;
}
.picker{
  background-color: #bd4839;
}
.finished,
.error {
  color: #ae00ff;
}

@media (max-width: 622px) {
  .timerBox {
    width: auto;
    height: 3rem;
    margin: 1rem;
    background-color: #be1866;
    font-size: 14px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
  }
}
